*.pcap filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.ko filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
rootkits/** filter=lfs diff=lfs merge=lfs -text
events_ubuntu24.z* filter=lfs diff=lfs merge=lfs -text
events_ubuntu24.zip filter=lfs diff=lfs merge=lfs -text
